*{
  font-family: "karla",sans-serif;
}
.header{
  display: flex;
  font-size:x-large;
  align-items:center;
  background:linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color:white;
  padding:20px;
}
.header-title{
  margin-right: auto;
}

main{
  margin-top: 55px;
  margin-left: 175px;
}
.bottom-text,.top-text{
  width:20rem;
  height:2rem;
  font-size: medium;
  margin-right:5px;
  margin-bottom: 25px;
  border-radius:5px;
  text-indent: 5px;
  border:1px solid #afaeb1;
  outline: none;
}
.submit-btn{
  width:41rem;
  height:3rem;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color:white;
  font-family:"karla",sans-serif;
  font-size:medium;
  border-radius:5px ;
  border:none;
  cursor: pointer;
}

/* ########## meme image styling ############# */
.memeImg{
 max-width: 100%;
 margin-top: 30px;
 border-radius: 3px;
 max-height: 50%;
}
.meme--text{
   position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}



